@font-face {
  font-family: 'contractica';
  src: url('./font/TBCContractica-Regular.ttf') format('truetype');
}


* {
  font-family: 'contractica', sans-serif !important;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

body {
  background-image: url('./aieti.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
