@font-face {
  font-family: "contractica";
  src: url("./font/TBCContractica-Regular.ttf") format("truetype");
}

* {
  font-family: "contractica", sans-serif !important;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-left,
.hr-right {
  flex-grow: 1;
  height: 10px;
  background-color: #143b88;
  border: none;
}

.header > img {
  width: 200px;
  display: block;
  margin: 25px auto;
}

body {
  background-image: url("./resources/aieti.png");
  /* background-image: url("./resources/background.png"); */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
